.ng2-image-gallery-overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.85);
  z-index: 9999;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
}
.ng2-image-gallery-thumbnail-container{
    margin: 2px 2px 0 0; 
    max-width: 100px;
    max-height: 100px;
    cursor: pointer;
    display:inline-block;
    position:relative;
    overflow:hidden;
}
.ng2-image-gallery-thumbnail{
    max-width: 100px;
    max-height: 100px;
}
.ng2-image-gallery-thumbnail-container:hover > .ng2-image-gallery-action{
    display:block;
}
.ng2-image-gallery-action{
    display:none;
    position:absolute;
    bottom:0;
    left:0;
    right:0;
}
.ng2-image-gallery-lightbox{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
  text-align: center;
}
.ng2-igl-close {
  font-size: 42px;
  z-index: 10;
  color: #fff !important;
  text-decoration: none;
  margin: 0 30px 0 0;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 0;
}
.ng2-igl-nav-left{
  top:0;
  position: fixed;
  height:100%;
  width:50%;
  left:0;
}
.ng2-igl-nav-right{
  top:0;
  position: fixed;
  height:100%;
  width:50%;
  right:0;
}
.ng2-igl-nav-right.thumbnails, .ng2-igl-nav-left.thumbnails{
  position: relative;
  height:auto;
  width:auto;
  display: inline-block;
}
.ng2-igl-nav-right.thumbnails.non-visible, .ng2-igl-nav-left.thumbnails.non-visible{
  visibility: hidden;
}
.ng2-igl-nav-right.thumbnails i, .ng2-igl-nav-left.thumbnails i{
  position: relative;
  top:0;
  left:0;
  right:0;
  transform:none;
  margin: 0 20px;
  vertical-align:middle;
  font-size:60px;
}
.ng2-igl-nav-left i, .ng2-igl-nav-right i{
  color: #fff !important;
  text-decoration: none;
  font-size: 80px;
}
.ng2-igl-nav-left:hover, .ng2-igl-nav-right:hover, .ng2-igl-close:hover {
  cursor: pointer;
  background:inherit;
}
.ng2-igl-nav-left i{
  left:30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.ng2-igl-nav-right i{
  right:30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.ng2-igl-img{
  height: auto;
  max-height: calc(100% - 250px);
  max-width: calc(100% - 100px);
  position: relative;
  display: block;
  margin: 0 auto 0 auto;
  top: 45%;
  z-index:8;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  box-shadow: 0 0 10px 5px #fff;
  cursor: pointer;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
}
.ng2-igl-loading{
  position: relative;
  display: block;
  margin: 0 auto 0 auto;
  top: 45%;
  z-index:8;
  color: #fff;
}
.ng2-igl-text {
  color: #fff;
  display: inline-block;
  width: 80%;
  margin: 0 10%;
  height: 30px;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: absolute;
  left: 0;
  right: 0;
  top: 15px;
}
.ng2-igl-count {
  color: #fff;
  display: inline-block;
  width: 100%;
  height: 20px;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10px;
}
.ng2-igl-thumbnails {
  z-index:15;
  display: inline-block;
  width: 80%;
  margin: 0 10%;
  text-align: center;
  position: absolute;
  left:0;
  bottom: 35px;
}
.ng2-igl-thumbnail {
  max-width: 100px;
  max-height: 100px;
  margin-right: 5px;
  opacity: 0.6;
}
.ng2-igl-thumbnail.active {
  border: 1px solid #fff;
  opacity: 1;
}
.ng2-igl-thumbnail:hover {
  opacity: 1;
  cursor: pointer;
}
.md-overlay-container{
  z-index:999999 !important;
}
.ng2-image-gallery-thumbnail-container.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}
.gu-hide {
  display: none !important;
}
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
.ng2-image-gallery-thumbnail-container.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}
// Small devices (landscape phones, less than 768px)
@media (max-width: 767px) { 
    .ng2-igl-img{
      max-height: calc(100% - 100px);
      max-width: calc(100% - 60px);
    }
   .ng2-igl-thumbnail{
     max-width: 35px;
     max-height: 35px;
     margin-right: 1px;
   }
   .ng2-igl-thumbnails{
     width: 100%;
     margin:0;
     bottom: 20px;
   }
   .ng2-igl-nav-right.thumbnails i, .ng2-igl-nav-left.thumbnails i{
      margin: 0 3px;
      font-size: 35px;
   }
   .ng2-igl-nav-left i, .ng2-igl-nav-right i{
     font-size: 45px;
   }
   .ng2-igl-nav-right i{
     right: 5px;
   }
   .ng2-igl-nav-left i{
     left: 5px;
   }
}